# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Ambientes virtuais
venv/
env/
.venv/
.env/

# Banco de dados
*.db
*.sqlite
*.sqlite3

# Variáveis de ambiente
.env
.env.local
.env.*.local

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
logs/

# Pytest
.pytest_cache/
htmlcov/
.coverage
